<!--<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
	<h1>Edit Blog</h1>
	<aside>
 		<form method="POST">
 			{% csrf_token %}
 			<input type="hidden" name="userid" value="{{user.id}}" ><br>
 			<input type="text" name="firstname" value="{{user.first_name}}" readonly><br>
 			<input type="text" name="lastname" value="{{user.last_name}}" readonly><br>
 			<input type="text" name="title" value="{{blog_edit.title}}"><br>
 			<textarea name="blog_detail"> {{blog_edit.blog_detail}}</textarea>
 			<button>Update</button>
 		</form>
 </aside>
</body>
</html>-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Blog Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">


    <!-- FontAwesome Icons core CSS -->
    <link href="{% static 'font-awesome.min.css' %}"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'style.css' %}"  rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'colors.css' %}" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="{% static 'garden.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    


       
        <header class="header">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu" aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="Forest Timemenu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'bloghome' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'myblog' %}">My Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link color-green-hover" href="{% url 'suggestions' %}">Suggestions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'logout' %}">Logout</a>
                            </li>
                      
                        </ul>
                    </div>
                </nav>
            </div><!-- end container -->
        </header><!-- end header -->
        <div class="container">
          <h4>Edit Blog</h4>
                    
       <form method="POST">
 			{% csrf_token %}
 			<input type="hidden" name="userid" value="{{user.id}}" ><br>
 			<input type="text" name="firstname" value="{{user.first_name}}" readonly><br>
 			<input type="text" name="lastname" value="{{user.last_name}}" readonly><br>
 			<input type="text" name="title" value="{{blog_edit.title}}"><br>
 			<textarea name="blog_detail"> {{blog_edit.blog_detail}}</textarea><br>
 			<button>Update</button>
 		</form>
                              
    </div>
        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>